<main>
<div class="overflow-hidden bg-secondary">
  <section class="py-5 container">
    <div class="row py-lg-5">
      <div class="col-lg-12 col-md-12">
        <h1 class="fw-bold text-light"> CINAYE BURGER </h1>
        <p class="lead text-light">
          Bienvenue chez CINAYE BURGER, le temple du burger gourmet où chaque bouchée est une explosion de saveurs.
          Nous sélectionnons avec soin les meilleurs ingrédients pour créer des burgers uniques, grillés à la perfection et garnis de sauces maison.
          Que vous soyez amateur de viande juteuse ou adepte de recettes végétariennes, notre menu varié saura satisfaire toutes vos envies.
          Venez découvrir un cadre chaleureux et convivial, parfait pour partager un délicieux repas entre amis ou en famille.
          Chez CINAYE BURGER, le plaisir est à chaque croc !
        </p>
        <p>
          <a href="#" class="btn btn-primary my-2">C'est par ici</a>
        </p>
      </div>
    </div>
  </section>
</div>
  <div class="album py-5 bg-light">
    <div class="container" id="nos-burgers">
      <div class="row">
        <div class="col-md-12">
          <h1 class="fw-bold">Nos Burgers</h1>
          <p class="lead">CINAYE BURGER vous propose une liste de nos burgers.</p>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let b of listBurger">
          <div class="card shadow-sm">
            <img ngSrc="{{ b.image }}" class="card-img-top bd-placeholder-img" alt="..." width="100" height="225"/>
            <div class="card-body">
              <h4 class="card-text mb-3">{{ b.name }}</h4>
              <p class="card-text">{{ b.description?.substring(0, 100) }} ... </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" routerLink="/burger/{{ b.id }}" class="btn btn-sm btn-outline-primary">
                    Clicker ici pour commander
                  </button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>



